/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*@import "compass/reset";*/
/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
/* line 9, ../sass/partials/_boilerplate.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 13, ../sass/partials/_boilerplate.scss */
body {
  font-size: 1em;
  line-height: 1.4;
}

/* line 18, ../sass/partials/_boilerplate.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 23, ../sass/partials/_boilerplate.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 28, ../sass/partials/_boilerplate.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 37, ../sass/partials/_boilerplate.scss */
img {
  vertical-align: middle;
}

/* line 41, ../sass/partials/_boilerplate.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 47, ../sass/partials/_boilerplate.scss */
textarea {
  resize: vertical;
}

/* line 51, ../sass/partials/_boilerplate.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */
/* line 5, ../sass/partials/_initializr.scss */
body {
  font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

/* line 9, ../sass/partials/_initializr.scss */
.wrapper {
  width: 90%;
  margin: 0 5%;
}

/* ==============
    MOBILE: Menu
   ============== */
/* line 5, ../sass/partials/_mobile.scss */
nav ul {
  margin: 0;
  padding: 0;
}

/* line 10, ../sass/partials/_mobile.scss */
nav a {
  display: block;
  margin-bottom: 10px;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  font-weight: normal;
  color: white;
  /*background: #e44d26;*/
}

/* line 24, ../sass/partials/_mobile.scss */
nav a:hover,
nav a:visited {
  color: white;
}

/* line 28, ../sass/partials/_mobile.scss */
nav a:hover {
  text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */
/* line 36, ../sass/partials/_mobile.scss */
.main {
  padding: 30px 0;
}

/* line 40, ../sass/partials/_mobile.scss */
.main article h1 {
  font-size: 2em;
}

/* line 44, ../sass/partials/_mobile.scss */
.main aside {
  color: white;
  padding: 0px 5% 10px;
}

/* line 49, ../sass/partials/_mobile.scss */
.footer-container footer {
  color: white;
  padding: 20px 0;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 480px) {
  /* ====================
      INTERMEDIATE: Menu
     ==================== */
  /* line 11, ../sass/partials/_media.scss */
  nav a {
    float: left;
    /* width: 27%;*/
    margin: 0 1.7%;
    padding: 25px 2%;
    margin-bottom: 0;
  }

  /* line 19, ../sass/partials/_media.scss */
  nav li:first-child a {
    margin-left: 0;
  }

  /* line 23, ../sass/partials/_media.scss */
  nav li:last-child a {
    margin-right: 0;
  }

  /* ========================
      INTERMEDIATE: IE Fixes
     ======================== */
  /* line 31, ../sass/partials/_media.scss */
  nav ul li {
    display: inline;
  }

  /* line 35, ../sass/partials/_media.scss */
  .oldie nav a {
    margin: 0 0.7%;
  }
}
@media only screen and (min-width: 768px) {
  /* ====================
      WIDE: CSS3 Effects
     ==================== */
  /* line 47, ../sass/partials/_media.scss */
  .header-container,
  .main aside {
    -webkit-box-shadow: 0 5px 10px #aaa;
    -moz-box-shadow: 0 5px 10px #aaa;
    box-shadow: 0 5px 10px #aaa;
  }

  /* ============
      WIDE: Menu
     ============ */
  /* line 57, ../sass/partials/_media.scss */
  .title {
    float: left;
  }

  /*
      nav {
          float: right;
          width: 38%;
      }
  */
  /* ============
      WIDE: Main
     ============ */
  /* line 71, ../sass/partials/_media.scss */
  .main article {
    float: left;
    width: 57%;
  }

  /* line 76, ../sass/partials/_media.scss */
  .main aside {
    float: right;
    width: 28%;
  }
}
@media only screen and (min-width: 1140px) {
  /* ===============
      Maximal Width
     =============== */
  /* line 88, ../sass/partials/_media.scss */
  .wrapper {
    width: 1026px;
    /* 1140px - 10% for margins */
    margin: 0 auto;
  }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/* line 5, ../sass/partials/_helpers.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

/* line 12, ../sass/partials/_helpers.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 19, ../sass/partials/_helpers.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 24, ../sass/partials/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 36, ../sass/partials/_helpers.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 45, ../sass/partials/_helpers.scss */
.invisible {
  visibility: hidden;
}

/* line 50, ../sass/partials/_helpers.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 55, ../sass/partials/_helpers.scss */
.clearfix:after {
  clear: both;
}

/* line 59, ../sass/partials/_helpers.scss */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*51,102,255*/
/* line 5, ../sass/partials/_authors.scss */
body {
  background-color: black;
  color: white;
}

/* line 11, ../sass/partials/_authors.scss */
header [role="heading"],
header [role="navigation"],
header [role="marquee"],
footer [role="contentinfo"],
main {
  margin: 0 auto;
  padding: 10px;
  border-bottom: 1px solid white;
}

/* line 13, ../sass/partials/_authors.scss */
nav a {
  margin: 0;
  padding: 0;
}

/* line 14, ../sass/partials/_authors.scss */
[role="navigation"] a {
  width: 25%;
}

/* line 16, ../sass/partials/_authors.scss */
[role="listbox"] a,
[role="menuitem"] a {
  display: inline-block;
  margin: 0 10px;
}

/* line 18, ../sass/partials/_authors.scss */
[role="listbox"] a:hover,
[role="menuitem"] a:hover {
  text-decoration: none;
}

/* line 20, ../sass/partials/_authors.scss */
time {
  font-size: 1.0em;
  font-style: oblique;
}

/* line 22, ../sass/partials/_authors.scss */
figure {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* line 28, ../sass/partials/_authors.scss */
figure figcaption {
  position: absolute;
  left: 0;
  margin: 0;
  padding: 0;
  display: block;
}

/* line 34, ../sass/partials/_authors.scss */
[role="marquee"] figure figcaption {
  bottom: 0;
}

/* line 38, ../sass/partials/_authors.scss */
[role="alert"] aside figure {
  width: 300px;
  height: 200px;
  border: 1px solid white;
}

/* line 44, ../sass/partials/_authors.scss */
[role="alert"] aside figure figcaption {
  top: 0;
  width: 100px;
  line-height: 30px;
  text-align: center;
  border-bottom: 1px solid white;
  text-transform: capitalize;
  z-index: 1;
}

/* line 53, ../sass/partials/_authors.scss */
[role="alert"] aside figure figcaption p {
  position: relative;
  top: 0;
  left: -1px;
  margin: 0;
  text-align: center;
  line-height: 30px;
  text-transform: capitalize;
  z-index: 2;
  border-left: 1px solid white;
}

/* line 62, ../sass/partials/_authors.scss */
[role="alert"] aside figure figcaption:after {
  position: absolute;
  top: 0;
  right: -15px;
  display: block;
  content: " ";
  width: 130px;
  height: 30px;
  transform: skewX(135deg);
  -ms-transform: skewX(135deg);
  -webkit-transform: skewX(135deg);
  border-right: 1px solid white;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

/* ===================
    ALL: Orange Theme
   =================== */
/* line 5, ../sass/themes/_orange.scss */
.header-container {
  border-bottom: 20px solid #e44d26;
}

/* line 10, ../sass/themes/_orange.scss */
.footer-container,
.main aside {
  border-top: 20px solid #e44d26;
}

/* line 16, ../sass/themes/_orange.scss */
.header-container,
.footer-container,
.main aside {
  background: #f16529;
}

/* line 20, ../sass/themes/_orange.scss */
.title {
  color: white;
}
