/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*@import "compass/reset";*/
/* ========================================================================== */
/* line 32, ../sass/partials/_variables.scss */
.headlines [role="columnheader"], footer .footer__content .footer__content--tab label, footer .footer__content .footer__content--tab .footer__content--section {
  border-width: 1px;
  border-style: solid;
  border-color: white; }

/* Even though we mean pixels, we leave out 'px' so that the mixing below can perform calculations on it. */
/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
/* line 4, ../sass/partials/_boilerplate.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

/* line 8, ../sass/partials/_boilerplate.scss */
html, html a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }

/* line 13, ../sass/partials/_boilerplate.scss */
html,
button,
input,
select,
textarea {
  color: #222; }

/* line 21, ../sass/partials/_boilerplate.scss */
body {
  font-size: 1em;
  line-height: 1.4; }

/* line 26, ../sass/partials/_boilerplate.scss */
::-moz-selection {
  background: #b3d4fc;
  -webkit-text-shadow: none;
  -moz-text-shadow: none;
  -ms-text-shadow: none;
  -o-text-shadow: none;
  text-shadow: none; }

/* line 31, ../sass/partials/_boilerplate.scss */
::selection {
  background: #b3d4fc;
  -webkit-text-shadow: none;
  -moz-text-shadow: none;
  -ms-text-shadow: none;
  -o-text-shadow: none;
  text-shadow: none; }

/* line 36, ../sass/partials/_boilerplate.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/* line 45, ../sass/partials/_boilerplate.scss */
img {
  vertical-align: middle;
  width: 100%; }

/* line 50, ../sass/partials/_boilerplate.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/* line 56, ../sass/partials/_boilerplate.scss */
textarea {
  resize: vertical; }

/* line 60, ../sass/partials/_boilerplate.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */
/* line 5, ../sass/partials/_initializr.scss */
body {
  font: 16px/26px Helvetica, Helvetica Neue, Arial; }

/* line 9, ../sass/partials/_initializr.scss */
.wrapper {
  width: 90%;
  margin: 0 5%; }

/* ==============
    MOBILE: Menu
   ============== */
/* line 5, ../sass/partials/_mobile.scss */
nav ul {
  margin: 0;
  padding: 0; }

/* line 10, ../sass/partials/_mobile.scss */
nav a {
  display: block;
  margin-bottom: 10px;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  font-weight: normal;
  color: white;
  /*background: #e44d26;*/ }

/* line 23, ../sass/partials/_mobile.scss */
nav a:hover,
nav a:visited {
  color: white; }

/* line 28, ../sass/partials/_mobile.scss */
nav a:hover {
  text-decoration: underline; }

/* ==============
    MOBILE: Main
   ============== */
/* line 36, ../sass/partials/_mobile.scss */
.main {
  padding: 30px 0; }

/* line 40, ../sass/partials/_mobile.scss */
.main article h1 {
  font-size: 2em; }

/* line 44, ../sass/partials/_mobile.scss */
.main aside {
  color: white;
  padding: 0px 5% 10px; }

/* line 49, ../sass/partials/_mobile.scss */
.footer-container footer {
  color: white;
  padding: 20px 0; }

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 480px) {
  /* ====================
  	INTERMEDIATE: Menu
     ==================== */
  /* line 17, ../sass/partials/_media.scss */
  nav a {
    float: left;
    /* width: 27%;*/
    margin: 0 1.7%;
    padding: 25px 2%;
    margin-bottom: 0; }

  /* line 25, ../sass/partials/_media.scss */
  nav li:first-child a {
    margin-left: 0; }

  /* line 29, ../sass/partials/_media.scss */
  nav li:last-child a {
    margin-right: 0; }

  /* ========================
  	INTERMEDIATE: IE Fixes
     ======================== */
  /* line 37, ../sass/partials/_media.scss */
  nav ul li {
    display: inline; }

  /* line 41, ../sass/partials/_media.scss */
  .oldie nav a {
    margin: 0 0.7%; } }
@media only screen and (min-width: 680px) {
  /* ====================
  	WIDE: CSS3 Effects
     ==================== */
  /* line 52, ../sass/partials/_media.scss */
  .header-container,
  .main aside {
    -webkit-box-shadow: 0 5px 10px #aaa;
    -moz-box-shadow: 0 5px 10px #aaa;
    box-shadow: 0 5px 10px #aaa; }

  /* ============
  	WIDE: Menu
     ============ */
  /* line 63, ../sass/partials/_media.scss */
  .title {
    float: left; }

  /*
  	nav {
  		float: right;
  		width: 38%;
  	}
  */
  /* ============
  	WIDE: Main
     ============ */
  /* line 77, ../sass/partials/_media.scss */
  .main article {
    float: left;
    width: 57%; }

  /* line 82, ../sass/partials/_media.scss */
  .main aside {
    float: right;
    width: 28%; } }
@media only screen and (min-width: 1174px) {
  /* ===============
  	Maximal Width
     =============== */
  /* line 94, ../sass/partials/_media.scss */
  .wrapper {
    max-width: 1026px;
    /* 1140px - 10% for margins */
    margin: 0 auto; } }
/* ==========================================================================
   Helper classes
   ========================================================================== */
/* line 5, ../sass/partials/_helpers.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

/* line 12, ../sass/partials/_helpers.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/* line 19, ../sass/partials/_helpers.scss */
.list-style-none {
  list-style-type: none; }

/* line 21, ../sass/partials/_helpers.scss */
.hidden {
  display: none !important;
  visibility: hidden; }

/* line 26, ../sass/partials/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* line 37, ../sass/partials/_helpers.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/* line 47, ../sass/partials/_helpers.scss */
.invisible {
  visibility: hidden; }

/* line 65, ../sass/partials/_helpers.scss */
.isa_info, .isa_success, .isa_warning, .isa_error {
  display: block;
  border: 1px solid;
  margin: 10px 20px;
  padding: 15px 10px;
  background-repeat: no-repeat;
  background-position: 10px center;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  -ms-border-radius: .5em;
  -o-border-radius: .5em;
  border-radius: .5em; }

/* line 74, ../sass/partials/_helpers.scss */
.isa_info {
  color: #00529B;
  background-color: #BDE5F8; }

/* line 79, ../sass/partials/_helpers.scss */
.isa_success {
  color: #4F8A10;
  background-color: #DFF2BF; }

/* line 84, ../sass/partials/_helpers.scss */
.isa_warning {
  color: #9F6000;
  background-color: #FEEFB3; }

/* line 89, ../sass/partials/_helpers.scss */
.isa_error {
  color: #D8000C;
  background-color: #FFBABA; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* line 5, ../sass/partials/_authors.scss */
.unbulleted {
  margin: 0;
  padding: 0; }

/* line 10, ../sass/partials/_authors.scss */
.unbulleted li {
  list-style-type: none;
  margin: auto 0;
  padding: 0;
  display: inline-block; }

/* line 17, ../sass/partials/_authors.scss */
.unbulleted li a:hover {
  text-decoration: none; }

@media only screen and (max-width: 320px) {
  /* line 21, ../sass/partials/_authors.scss */
  .toggler {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border: 0;
    z-index: 110; }
    /* line 30, ../sass/partials/_authors.scss */
    .toggler.navbar {
      left: 0;
      top: 50%; }
      /* line 33, ../sass/partials/_authors.scss */
      .toggler.navbar span {
        position: absolute;
        display: inline-block;
        content: '';
        width: 1.2rem;
        height: 3px;
        background: white;
        transition: 0.3s; }
        /* line 41, ../sass/partials/_authors.scss */
        .toggler.navbar span:before, .toggler.navbar span:after {
          cursor: pointer;
          width: 1.2rem;
          height: 3px;
          background: white;
          position: absolute;
          left: 0;
          display: inline-block;
          content: '';
          transition: 0.3s;
          transform-origin: 0.05rem center; }
        /* line 53, ../sass/partials/_authors.scss */
        .toggler.navbar span:before {
          top: 0.5rem; }
        /* line 56, ../sass/partials/_authors.scss */
        .toggler.navbar span:after {
          top: -0.5rem; }
      /* line 60, ../sass/partials/_authors.scss */
      .toggler.navbar.active {
        left: 0; }
        /* line 63, ../sass/partials/_authors.scss */
        .toggler.navbar.active span:before, .toggler.navbar.active span:after {
          top: 0;
          width: 0.6rem; }
        /* line 67, ../sass/partials/_authors.scss */
        .toggler.navbar.active span:before {
          transform: rotate3d(0, 0, 1, 40deg); }
        /* line 70, ../sass/partials/_authors.scss */
        .toggler.navbar.active span:after {
          transform: rotate3d(0, 0, 1, -40deg); }
    /* line 76, ../sass/partials/_authors.scss */
    .toggler.menubar {
      right: 2.125%;
      top: 2px; }
      /* line 79, ../sass/partials/_authors.scss */
      .toggler.menubar span {
        position: absolute;
        display: block;
        content: '';
        transition: all 500ms ease-in-out; }
        /* line 84, ../sass/partials/_authors.scss */
        .toggler.menubar span:before, .toggler.menubar span:after {
          cursor: pointer;
          height: 21px;
          background: white;
          position: absolute;
          display: block;
          content: '';
          transition: all 500ms ease-in-out; }
        /* line 93, ../sass/partials/_authors.scss */
        .toggler.menubar span:before {
          left: -10px;
          width: 10px; }
        /* line 97, ../sass/partials/_authors.scss */
        .toggler.menubar span:after {
          right: -6px;
          width: 5px; }
      /* line 102, ../sass/partials/_authors.scss */
      .toggler.menubar.active {
        right: 4.125%; }
        /* line 104, ../sass/partials/_authors.scss */
        .toggler.menubar.active span {
          background-color: transparent; }
          /* line 106, ../sass/partials/_authors.scss */
          .toggler.menubar.active span:before, .toggler.menubar.active span:after {
            left: -5px;
            width: 3px; }
          /* line 110, ../sass/partials/_authors.scss */
          .toggler.menubar.active span:before {
            transform: rotate(45deg); }
          /* line 113, ../sass/partials/_authors.scss */
          .toggler.menubar.active span:after {
            transform: rotate(-45deg); } }
@media only screen and (min-width: 569px) {
  /* line 21, ../sass/partials/_authors.scss */
  .toggler {
    display: none; } }

/* line 127, ../sass/partials/_authors.scss */
a:link, a:visited, a:hover, a:active {
  color: white;
  text-decoration: none; }
/* line 131, ../sass/partials/_authors.scss */
a:hover, a:active {
  color: white;
  text-decoration: underline; }

/* line 137, ../sass/partials/_authors.scss */
nav a {
  margin: 0;
  padding: 0; }

/*51,102,255*/
/* line 143, ../sass/partials/_authors.scss */
body {
  background-color: #3359a5;
  background-image: url(../img/grid-offset.png);
  background-repeat: repeat;
  background-origin: content-box;
  background-size: auto;
  color: white;
  font-family: "Avenir", Futura, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased; }

/* line 155, ../sass/partials/_authors.scss */
[role="heading"],
[role="toolbar"],
[role="navigation"] {
  text-align: center; }

/* line 161, ../sass/partials/_authors.scss */
[role="banner"],
[role="main"] {
  margin: 0 auto; }
  @media only screen and (max-width: 320px) {
    /* line 161, ../sass/partials/_authors.scss */
    [role="banner"],
    [role="main"] {
      width: 300px; } }
  @media only screen and (min-width: 480px) {
    /* line 161, ../sass/partials/_authors.scss */
    [role="banner"],
    [role="main"] {
      width: 460px; } }
  @media only screen and (min-width: 481px) {
    /* line 161, ../sass/partials/_authors.scss */
    [role="banner"],
    [role="main"] {
      width: 1154px; } }

/* line 177, ../sass/partials/_authors.scss */
[role="marquee"] > [role="columnheader"] {
  margin: 0 auto;
  padding: 0 20px; }
  @media only screen and (min-width: 481px) {
    /* line 177, ../sass/partials/_authors.scss */
    [role="marquee"] > [role="columnheader"] {
      max-width: 1174px; } }

/* line 185, ../sass/partials/_authors.scss */
[role="banner"],
[role="search"],
[role="document"],
[role="complementary"] {
  margin-bottom: 1.5rem;
  position: relative; }

/* 
[role="heading"],
[role="navigation"] {
  @include breakpoint($break-brunch + 1px, "min-width") {
    border: {
      width: 0 1px 1px;
      style: solid;
      color: $white;
    };
  }
} 
*/
/* line 206, ../sass/partials/_authors.scss */
[role="main"] {
  margin: 1.5em auto; }

/* line 213, ../sass/partials/_authors.scss */
.flipped {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  perspective: 1000;
  text-shadow: black 1px 1px 0; }
  /* line 216, ../sass/partials/_authors.scss */
  .flipped b {
    display: inline-block;
    font-size: inherit;
    font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
    font-weight: 100;
    color: white;
    text-decoration: none; }
    /* line 223, ../sass/partials/_authors.scss */
    .flipped b:first-of-type {
      -webkit-transition: all 1000ms;
      -moz-transition: all 1000ms;
      transition: all 1000ms;
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      transform: rotateY(180deg); }
      @media only screen and (max-width: 320px) {
        /* line 223, ../sass/partials/_authors.scss */
        .flipped b:first-of-type {
          margin-right: -4px; } }
    /* line 231, ../sass/partials/_authors.scss */
    .flipped b + b {
      margin-left: -4px; }
  /* line 235, ../sass/partials/_authors.scss */
  .flipped:hover b:first-of-type {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d; }

/* line 242, ../sass/partials/_authors.scss */
[role="search"] form {
  border-width: 1px;
  border-style: solid;
  border-color: white;
  max-width: 300px; }
  /* line 249, ../sass/partials/_authors.scss */
  [role="search"] form button {
    background: none;
    border: none;
    float: left;
    color: white;
    line-height: 1.5em;
    font-weight: 400; }
    /* line 256, ../sass/partials/_authors.scss */
    [role="search"] form button:focus {
      outline: none; }
  /* line 260, ../sass/partials/_authors.scss */
  [role="search"] form input {
    margin: 0 0.5%;
    padding: 0 0.5%;
    width: 88%;
    border: none;
    background: transparent;
    color: white; }
    /* line 267, ../sass/partials/_authors.scss */
    [role="search"] form input:focus {
      outline: none; }

/* line 275, ../sass/partials/_authors.scss */
[role="heading"] h1 {
  margin: .57em 0;
  text-align: center;
  line-height: 25px;
  font-weight: 100;
  font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
  text-shadow: black 1px 1px; }
  @media only screen and (max-width: 568px) {
    /* line 275, ../sass/partials/_authors.scss */
    [role="heading"] h1 {
      font-size: 1.2em; }
      /* line 285, ../sass/partials/_authors.scss */
      [role="heading"] h1 .flipped b {
        margin-right: -12px; }
      /* line 288, ../sass/partials/_authors.scss */
      [role="heading"] h1 .flipped:hover b {
        margin-right: 0; } }
  @media only screen and (min-width: 569px) {
    /* line 275, ../sass/partials/_authors.scss */
    [role="heading"] h1 {
      font-size: 4.0em; }
      /* line 297, ../sass/partials/_authors.scss */
      [role="heading"] h1 .flipped b {
        margin-right: -38px; }
      /* line 300, ../sass/partials/_authors.scss */
      [role="heading"] h1 .flipped:hover b {
        margin-right: 0; } }
  /* line 307, ../sass/partials/_authors.scss */
  [role="heading"] h1 a strong, [role="heading"] h1 a b {
    font-weight: inherit; }
  /* line 310, ../sass/partials/_authors.scss */
  [role="heading"] h1 a:hover, [role="heading"] h1 a:focus, [role="heading"] h1 a:active {
    text-decoration: none; }
    /* line 314, ../sass/partials/_authors.scss */
    [role="heading"] h1 a:hover b, [role="heading"] h1 a:hover span, [role="heading"] h1 a:focus b, [role="heading"] h1 a:focus span, [role="heading"] h1 a:active b, [role="heading"] h1 a:active span {
      letter-spacing: 0;
      text-decoration: none; }
    /* line 318, ../sass/partials/_authors.scss */
    [role="heading"] h1 a:hover span, [role="heading"] h1 a:focus span, [role="heading"] h1 a:active span {
      opacity: 1;
      text-decoration: none; }
  /* line 323, ../sass/partials/_authors.scss */
  [role="heading"] h1 a span {
    font-variant: small-caps;
    /*opacity: 0;*/ }

@media only screen and (max-width: 320px) {
  /* line 331, ../sass/partials/_authors.scss */
  [role="navigation"] {
    position: absolute;
    top: 0;
    left: -12.7%;
    height: 100%;
    width: 13.125%;
    border-right: 1px solid white;
    background-color: rgba(51, 89, 165, 0.9);
    z-index: 100;
    padding: 0;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    transition: 1s ease-in-out; }
    /* line 343, ../sass/partials/_authors.scss */
    [role="navigation"].slideOut {
      -webkit-transform: translate(100%, 0);
      -moz-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
      -o-transform: translate(100%, 0);
      transform: translate(100%, 0); } }
@media only screen and (max-width: 320px) {
  /* line 348, ../sass/partials/_authors.scss */
  [role="navigation"] nav {
    margin-top: 2.2em; } }
@media only screen and (min-width: 569px) {
  /* line 348, ../sass/partials/_authors.scss */
  [role="navigation"] nav {
    height: 50px;
    padding-top: 4px; } }
/* line 358, ../sass/partials/_authors.scss */
[role="navigation"] nav a {
  display: block;
  font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif; }
  @media only screen and (max-width: 320px) {
    /* line 358, ../sass/partials/_authors.scss */
    [role="navigation"] nav a {
      line-height: 50px;
      height: 49px;
      margin-bottom: 1px; }
      /* line 365, ../sass/partials/_authors.scss */
      [role="navigation"] nav a .navigation__link--slider {
        display: inline-block;
        text-shadow: 1px 1px #000;
        opacity: 0;
        -webkit-transition: all 0.75s ease;
        -moz-transition: all 0.75s ease;
        transition: all 0.75s ease; } }
  /* line 373, ../sass/partials/_authors.scss */
  [role="navigation"] nav a:before {
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: 10px center;
    background-clip: border-box;
    background-size: 22px 32px; }
    /* line 379, ../sass/partials/_authors.scss */
    .smaller [role="navigation"] nav a:before {
      background-size: 22px 21px; }
  @media only screen and (max-width: 320px) {
    /* line 384, ../sass/partials/_authors.scss */
    [role="navigation"] nav a:hover .navigation__link--slider {
      width: auto;
      border-top-width: 1px;
      border-bottom-width: 1px;
      margin-left: 100%;
      padding-right: 10px;
      padding-left: 10px;
      border-width: 1px 1px 1px 0;
      border-color: white;
      border-style: solid;
      background-color: rgba(51, 89, 165, 0.9); } }
  /* line 401, ../sass/partials/_authors.scss */
  [role="navigation"] nav a:hover.portfolio:before {
    background-image: url("../img/compass-16.svg"); }
  /* line 404, ../sass/partials/_authors.scss */
  [role="navigation"] nav a:hover.chronicles:before {
    background-image: url("../img/chronicles-16.svg"); }
  /* line 407, ../sass/partials/_authors.scss */
  [role="navigation"] nav a:hover.experiments:before {
    background-image: url("../img/experiments-16.svg"); }
  /* line 410, ../sass/partials/_authors.scss */
  [role="navigation"] nav a:hover.interactions:before {
    background-image: url("../img/interaction-16.svg"); }
  @media only screen and (min-width: 569px) {
    /* line 358, ../sass/partials/_authors.scss */
    [role="navigation"] nav a {
      display: inline-block;
      width: 25%; }
      /* line 417, ../sass/partials/_authors.scss */
      [role="navigation"] nav a:hover {
        background-position: 30% center; }
        /* line 419, ../sass/partials/_authors.scss */
        [role="navigation"] nav a:hover.wider {
          background-position: 25% center; } }

@media only screen and (max-width: 320px) {
  /* line 428, ../sass/partials/_authors.scss */
  [role="menubar"] {
    position: absolute;
    top: 0;
    right: -12.7%;
    height: 100%;
    width: 13.125%;
    border-left: 1px solid white;
    background-color: rgba(51, 89, 165, 0.9);
    z-index: 100;
    padding: 0;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    transition: 1s ease-in-out; }
    /* line 440, ../sass/partials/_authors.scss */
    [role="menubar"].slideOut {
      -webkit-transform: translate(-100%, 0);
      -moz-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
      -o-transform: translate(-100%, 0);
      transform: translate(-100%, 0); } }
@media only screen and (min-width: 569px) {
  /* line 428, ../sass/partials/_authors.scss */
  [role="menubar"] {
    position: absolute;
    top: 0;
    right: 0; } }
/* line 451, ../sass/partials/_authors.scss */
[role="menubar"] ol {
  padding: 0;
  margin: 0; }
  @media only screen and (max-width: 320px) {
    /* line 451, ../sass/partials/_authors.scss */
    [role="menubar"] ol {
      margin: 50px auto 0; } }
  @media only screen and (min-width: 569px) {
    /* line 459, ../sass/partials/_authors.scss */
    [role="menubar"] ol li {
      display: inline-block; } }

/* line 466, ../sass/partials/_authors.scss */
[role="listbox"] {
  width: 100%;
  margin: 10px auto;
  padding: 0; }
  /* line 470, ../sass/partials/_authors.scss */
  [role="listbox"] li {
    display: inline; }

/* line 475, ../sass/partials/_authors.scss */
[role="listbox"] a,
[role="menuitem"] a {
  display: inline-block;
  margin: 0 10px; }
  /* line 479, ../sass/partials/_authors.scss */
  [role="listbox"] a:hover,
  [role="menuitem"] a:hover {
    text-decoration: none; }

/* line 484, ../sass/partials/_authors.scss */
time {
  font-size: 0.675em;
  font-style: oblique; }

/* line 489, ../sass/partials/_authors.scss */
.angular-tabbed {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden; }
  /* line 494, ../sass/partials/_authors.scss */
  .angular-tabbed .tabbed {
    position: absolute;
    margin: 0;
    padding: 0;
    display: block;
    width: 33%;
    text-transform: capitalize;
    z-index: 1; }
    /* line 502, ../sass/partials/_authors.scss */
    .angular-tabbed .tabbed .angled {
      position: relative;
      top: 0;
      left: -1px;
      margin: 0;
      z-index: 2;
      font-variant: small-caps; }
  /* line 511, ../sass/partials/_authors.scss */
  .angular-tabbed .tabbed:after {
    position: absolute;
    top: 0;
    display: block;
    content: " ";
    z-index: 1;
    background: rgba(0, 0, 0, 0.7);
    -webkit-transform: skewX(135deg);
    -moz-transform: skewX(135deg);
    -ms-transform: skewX(135deg);
    -o-transform: skewX(135deg);
    transform: skewX(135deg); }

@media only screen and (max-width: 960px) {
  /* line 524, ../sass/partials/_authors.scss */
  [role="marquee"] {
    display: none; } }
@media only screen and (min-width: 960px) {
  /* line 524, ../sass/partials/_authors.scss */
  [role="marquee"] {
    position: relative;
    padding-top: 0.1%; }
    /* line 532, ../sass/partials/_authors.scss */
    [role="marquee"] .slider-nav {
      position: absolute;
      top: 52px;
      background-color: #3359a5;
      width: 200px;
      line-height: 447px;
      text-align: center;
      font-size: 11.5em;
      -webkit-background-size: 8px 8px;
      -moz-background-size: 8px 8px;
      -ms-background-size: 8px 8px;
      -o-background-size: 8px 8px;
      background-size: 8px 8px; }
      /* line 541, ../sass/partials/_authors.scss */
      [role="marquee"] .slider-nav:hover {
        text-decoration: none;
        outline: none; }
    /* line 547, ../sass/partials/_authors.scss */
    [role="marquee"] #left {
      left: 0;
      background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent 75%, transparent 75%, transparent);
      background-image: linear-gradient(to , rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent 75%, transparent 75%, transparent); }
    /* line 551, ../sass/partials/_authors.scss */
    [role="marquee"] #right {
      right: 0;
      background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent 75%, transparent 75%, transparent);
      background-image: linear-gradient(to , rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent 75%, transparent 75%, transparent); }
    /* line 555, ../sass/partials/_authors.scss */
    [role="marquee"]:hover {
      text-decoration: none;
      outline: none; }
    /* line 559, ../sass/partials/_authors.scss */
    [role="marquee"] header {
      width: 1174px;
      border-width: 1px 1px 0;
      border-style: solid;
      border-color: white;
      padding: 10px 0; }
      /* line 565, ../sass/partials/_authors.scss */
      [role="marquee"] header aside {
        right: 10px; } }

/* line 572, ../sass/partials/_authors.scss */
[role="slider"] {
  border-width: 1px;
  border-style: solid;
  border-color: white;
  height: 450px;
  overflow: hidden; }
  /* line 580, ../sass/partials/_authors.scss */
  [role="slider"] div:first-of-type {
    margin: auto;
    border-width: 0 1px;
    border-style: solid;
    border-color: white;
    width: 1174px; }
    /* line 591, ../sass/partials/_authors.scss */
    [role="slider"] div:first-of-type figure figcaption {
      width: 80%;
      height: 100px;
      bottom: 0;
      right: -50px; }
      /* line 596, ../sass/partials/_authors.scss */
      [role="slider"] div:first-of-type figure figcaption aside {
        margin: 0;
        padding-left: 70px;
        text-align: left; }
    /* line 602, ../sass/partials/_authors.scss */
    [role="slider"] div:first-of-type figure figcaption:after {
      width: 100%;
      height: 100%; }

/* line 610, ../sass/partials/_authors.scss */
[role="alert"] {
  margin-bottom: 1.5rem; }
  /* line 612, ../sass/partials/_authors.scss */
  [role="alert"] figure {
    width: 300px;
    height: 200px;
    border: 1px solid white; }
    @media only screen and (min-width: 480px) {
      /* line 612, ../sass/partials/_authors.scss */
      [role="alert"] figure {
        min-height: 200px;
        float: left;
        margin-right: 1.5em;
        margin-bottom: 1.5em;
        padding-bottom: 1.5em; } }
    /* line 624, ../sass/partials/_authors.scss */
    [role="alert"] figure figcaption {
      top: 0;
      left: 0;
      text-align: center;
      line-height: 30px;
      border-bottom: 1px solid white; }
      /* line 630, ../sass/partials/_authors.scss */
      [role="alert"] figure figcaption aside {
        margin: 0;
        border-left: 1px solid white; }
      /* line 634, ../sass/partials/_authors.scss */
      [role="alert"] figure figcaption p {
        margin: 0; }
    /* line 638, ../sass/partials/_authors.scss */
    [role="alert"] figure figcaption:after {
      width: 130px;
      height: 30px;
      right: -15px;
      border-right: 1px solid white; }

/* line 647, ../sass/partials/_authors.scss */
[role="columnheader"] {
  width: 100%;
  line-height: 48px;
  position: relative; }
  /* line 656, ../sass/partials/_authors.scss */
  .headlines [role="columnheader"] aside menu li a {
    border-left: 1px solid white;
    padding: 15px 20px; }
  /* line 664, ../sass/partials/_authors.scss */
  [role="columnheader"] h2 {
    margin: 0;
    padding: 0; }
    /* line 667, ../sass/partials/_authors.scss */
    [role="columnheader"] h2 a {
      display: block;
      padding: 0 10px;
      width: 50px; }
    /* line 674, ../sass/partials/_authors.scss */
    [role="columnheader"] h2 #news h2:after {
      position: absolute;
      top: 0;
      padding-right: 50px;
      display: block;
      content: " ";
      z-index: 1;
      width: 50px;
      height: 100%;
      border-right: 1px solid white;
      -webkit-transform: skewX(135deg);
      -moz-transform: skewX(135deg);
      -ms-transform: skewX(135deg);
      -o-transform: skewX(135deg);
      transform: skewX(135deg); }
  /* line 689, ../sass/partials/_authors.scss */
  [role="columnheader"] aside {
    position: absolute;
    right: 10px;
    top: 0;
    padding: 0; }
    /* line 694, ../sass/partials/_authors.scss */
    [role="columnheader"] aside menu {
      margin: 0;
      padding: 0; }
      /* line 697, ../sass/partials/_authors.scss */
      [role="columnheader"] aside menu .pointer {
        cursor: pointer; }

@media only screen and (min-width: 569px) {
  /* line 704, ../sass/partials/_authors.scss */
  [role="document"] {
    width: 66.66667%;
    padding: 1rem; } }
  @media only screen and (min-width: 569px) and (min-width: 480px) {
    /* line 704, ../sass/partials/_authors.scss */
    [role="document"] {
      float: left; } }
  @media only screen and (min-width: 569px) and (max-width: 320px) {
    /* line 704, ../sass/partials/_authors.scss */
    [role="document"] {
      float: none; } }

@media only screen and (min-width: 569px) {
  /* line 710, ../sass/partials/_authors.scss */
  [role="complementary"] {
    width: 33.33333%;
    padding: 1rem; } }
  @media only screen and (min-width: 569px) and (min-width: 480px) {
    /* line 710, ../sass/partials/_authors.scss */
    [role="complementary"] {
      float: left; } }
  @media only screen and (min-width: 569px) and (max-width: 320px) {
    /* line 710, ../sass/partials/_authors.scss */
    [role="complementary"] {
      float: none; } }

/* line 716, ../sass/partials/_authors.scss */
footer {
  margin-bottom: 1.5em;
  min-height: 250px;
  width: 100%;
  clear: both; }
  /* line 725, ../sass/partials/_authors.scss */
  footer .footer__content {
    position: relative;
    margin: 0 0 1.5em;
    padding: 0;
    min-height: 250px;
    list-style-type: none; }
    @media only screen and (min-width: 320px) {
      /* line 725, ../sass/partials/_authors.scss */
      footer .footer__content {
        width: 320px; } }
    @media only screen and (min-width: 480px) {
      /* line 725, ../sass/partials/_authors.scss */
      footer .footer__content {
        width: 480px; } }
    @media only screen and (min-width: 568px) {
      /* line 725, ../sass/partials/_authors.scss */
      footer .footer__content {
        width: 568px; } }
    @media only screen and (min-width: 620px) {
      /* line 725, ../sass/partials/_authors.scss */
      footer .footer__content {
        width: 620px; } }
    @media only screen and (min-width: 680px) {
      /* line 725, ../sass/partials/_authors.scss */
      footer .footer__content {
        width: 680px; } }
    @media only screen and (min-width: 960px) {
      /* line 725, ../sass/partials/_authors.scss */
      footer .footer__content {
        width: 960px; } }
    @media only screen and (min-width: 1175px) {
      /* line 725, ../sass/partials/_authors.scss */
      footer .footer__content {
        width: 1174px;
        margin-left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%); } }
    /* line 761, ../sass/partials/_authors.scss */
    footer .footer__content .footer__content--tab {
      float: left; }
      /* line 766, ../sass/partials/_authors.scss */
      footer .footer__content .footer__content--tab [type=radio] {
        display: none; }
      /* line 769, ../sass/partials/_authors.scss */
      footer .footer__content .footer__content--tab label {
        display: inline-block;
        position: relative;
        margin-bottom: 1px;
        bottom: 1px;
        background-color: #3359a5; }
        @media only screen and (max-width: 568px) {
          /* line 769, ../sass/partials/_authors.scss */
          footer .footer__content .footer__content--tab label {
            border-bottom-color: transparent;
            margin-right: -1px;
            padding: 8px; } }
        @media only screen and (min-width: 569px) {
          /* line 769, ../sass/partials/_authors.scss */
          footer .footer__content .footer__content--tab label {
            border-bottom-color: #3359a5;
            z-index: 2;
            padding: 5px 10px; } }
      /* line 788, ../sass/partials/_authors.scss */
      footer .footer__content .footer__content--tab .footer__content--section {
        width: auto;
        padding: 10px;
        background: #3359a5; }
        @media only screen and (max-width: 568px) {
          /* line 788, ../sass/partials/_authors.scss */
          footer .footer__content .footer__content--tab .footer__content--section {
            position: absolute;
            top: 42px;
            left: 0;
            right: 0;
            bottom: 0; } }
        @media only screen and (min-width: 569px) {
          /* line 788, ../sass/partials/_authors.scss */
          footer .footer__content .footer__content--tab .footer__content--section {
            position: relative;
            margin: -3px -1px 0 0;
            min-height: 215px; } }
      @media only screen and (max-width: 568px) {
        /* line 809, ../sass/partials/_authors.scss */
        footer .footer__content .footer__content--tab [type=radio]:checked ~ label {
          border-bottom-color: #3359a5;
          z-index: 2; }
        /* line 813, ../sass/partials/_authors.scss */
        footer .footer__content .footer__content--tab [type=radio]:checked ~ .footer__content--section {
          z-index: 1; } }
      @media only screen and (min-width: 569px) {
        /* line 761, ../sass/partials/_authors.scss */
        footer .footer__content .footer__content--tab {
          width: 33.33333%;
          padding: 0; } }
  @media only screen and (min-width: 569px) and (min-width: 480px) {
    /* line 761, ../sass/partials/_authors.scss */
    footer .footer__content .footer__content--tab {
      float: left; } }
  @media only screen and (min-width: 569px) and (max-width: 320px) {
    /* line 761, ../sass/partials/_authors.scss */
    footer .footer__content .footer__content--tab {
      float: none; } }

/* ===================
    ALL: Orange Theme
   =================== */
/* line 5, ../sass/themes/_orange.scss */
.header-container {
  border-bottom: 20px solid #e44d26; }

/* line 9, ../sass/themes/_orange.scss */
.footer-container,
.main aside {
  border-top: 20px solid #e44d26; }

/* line 14, ../sass/themes/_orange.scss */
.header-container,
.footer-container,
.main aside {
  background: #f16529; }

/* line 20, ../sass/themes/_orange.scss */
.title {
  color: white; }
