/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* ========================================================================== */
/*@import "compass/reset";*/
/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

body {
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */
body {
  font: 16px/26px Helvetica, Helvetica Neue, Arial; }

.wrapper {
  width: 90%;
  margin: 0 5%; }

/* ==============
    MOBILE: Menu
   ============== */
nav ul {
  margin: 0;
  padding: 0; }

nav a {
  display: block;
  margin-bottom: 10px;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  font-weight: normal;
  color: white;
  /*background: #e44d26;*/ }

nav a:hover,
nav a:visited {
  color: white; }

nav a:hover {
  text-decoration: underline; }

/* ==============
    MOBILE: Main
   ============== */
.main {
  padding: 30px 0; }

.main article h1 {
  font-size: 2em; }

.main aside {
  color: white;
  padding: 0px 5% 10px; }

.footer-container footer {
  color: white;
  padding: 20px 0; }

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 480px) {
  /* ====================
      INTERMEDIATE: Menu
     ==================== */
  nav a {
    float: left;
    /* width: 27%;*/
    margin: 0 1.7%;
    padding: 25px 2%;
    margin-bottom: 0; }

  nav li:first-child a {
    margin-left: 0; }

  nav li:last-child a {
    margin-right: 0; }

  /* ========================
      INTERMEDIATE: IE Fixes
     ======================== */
  nav ul li {
    display: inline; }

  .oldie nav a {
    margin: 0 0.7%; } }
@media only screen and (min-width: 768px) {
  /* ====================
      WIDE: CSS3 Effects
     ==================== */
  .header-container,
  .main aside {
    -webkit-box-shadow: 0 5px 10px #aaa;
    -moz-box-shadow: 0 5px 10px #aaa;
    box-shadow: 0 5px 10px #aaa; }

  /* ============
      WIDE: Menu
     ============ */
  .title {
    float: left; }

  /*
      nav {
          float: right;
          width: 38%;
      }
  */
  /* ============
      WIDE: Main
     ============ */
  .main article {
    float: left;
    width: 57%; }

  .main aside {
    float: right;
    width: 28%; } }
@media only screen and (min-width: 1140px) {
  /* ===============
      Maximal Width
     =============== */
  .wrapper {
    width: 1026px;
    /* 1140px - 10% for margins */
    margin: 0 auto; } }
/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*51,102,255*/
body {
  background-color: black;
  color: white; }

[role="toolbar"] {
  text-align: center; }

header [role="heading"],
header [role="navigation"],
header [role="marquee"],
footer [role="contentinfo"],
main {
  margin: 0 auto;
  padding: 10px;
  border-bottom: 1px solid white; }

nav a, [role="listbox"] {
  margin: 0 auto;
  padding: 0; }

[role="navigation"] a {
  width: 25%; }

[role="listbox"] li {
  width: auto;
  display: inline; }

[role="navigation"],
[role="menubar"] ol {
  margin-left: 0; }

[role="listbox"] a,
[role="menuitem"] a {
  display: inline-block;
  margin: 0 10px; }

[role="listbox"] a:hover,
[role="menuitem"] a:hover {
  text-decoration: none; }

time {
  font-size: 1.0em;
  font-style: oblique; }

figure {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden; }

figure figcaption {
  position: absolute;
  left: 0;
  margin: 0;
  padding: 0;
  display: block; }

[role="marquee"] figure figcaption {
  bottom: 0; }

[role="alert"] aside figure {
  width: 300px;
  height: 200px;
  border: 1px solid white; }

[role="alert"] aside figure figcaption {
  top: 0;
  width: 100px;
  line-height: 30px;
  text-align: center;
  border-bottom: 1px solid white;
  text-transform: capitalize;
  z-index: 1; }

[role="alert"] aside figure figcaption p {
  position: relative;
  top: 0;
  left: -1px;
  margin: 0;
  text-align: center;
  line-height: 30px;
  text-transform: capitalize;
  z-index: 2;
  border-left: 1px solid white; }

[role="alert"] aside figure figcaption:after {
  position: absolute;
  top: 0;
  right: -15px;
  display: block;
  content: " ";
  width: 130px;
  height: 30px;
  transform: skewX(135deg);
  -ms-transform: skewX(135deg);
  -webkit-transform: skewX(135deg);
  border-right: 1px solid white;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1; }

/* ===================
    ALL: Orange Theme
   =================== */
.header-container {
  border-bottom: 20px solid #e44d26; }

.footer-container,
.main aside {
  border-top: 20px solid #e44d26; }

.header-container,
.footer-container,
.main aside {
  background: #f16529; }

.title {
  color: white; }

