/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.unbulleted {
  margin: 0;
  padding: 0;
}

.unbulleted li {
  list-style-type: none;
  margin: auto 0;
  padding: 0;
  display: inline-block;
}

.unbulleted li a:hover {
  text-decoration: none;
}

.toggler {
  @include breakpoint($break-fast) {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border: 0;
    z-index: 110;
    &.navbar {
      left: 0;
      top: 50%;
      span {
        position: absolute;
        display: inline-block;
        content: '';
        width: 1.2rem;
        height: 3px;
        background: rgb(255, 255, 255);
        transition: 0.3s;
        &:before, &:after {
          cursor: pointer;
          width: 1.2rem;
          height: 3px;
          background: rgb(255, 255, 255);
          position: absolute;
          left: 0;
          display: inline-block;
          content: '';
          transition: 0.3s;
          transform-origin: 0.05rem center;
        }
        &:before {
          top: 0.5rem;
        }
        &:after {
          top: -0.5rem;
        }
      }
      &.active {
        left: 0;
        span {
          &:before, &:after {
            top: 0;
            width: 0.6rem;
          }
          &:before {
            transform: rotate3d(0, 0, 1, 40deg);
          }
          &:after {
            transform: rotate3d(0, 0, 1, -40deg);
          }
        }
      }
    }
    &.menubar {
      right: 2.125%;
      top: 2px;
      span {
        position: absolute;
        display: block;
        content: '';
        transition: all 500ms ease-in-out;
        &:before, &:after {
          cursor: pointer;
          height: 21px;
          background: rgb(255, 255, 255);
          position: absolute;
          display: block;
          content: '';
          transition: all 500ms ease-in-out;
        }
        &:before {
          left: -10px;
          width: 10px;
        }
        &:after {
          right: -6px;
          width: 5px;
        }
      }
      &.active {
        right: 4.125%;
        span {
          background-color: transparent;
          &:before, &:after {
            left: -5px;
            width: 3px;
          }
          &:before {
            transform: rotate(45deg);
          }
          &:after {
            transform: rotate(-45deg);
          }
        }
      }
    }
  }

  @include breakpoint($break-elevenses + 1px, "min-width") {
    display: none;
  }
}

a {
  &:link, &:visited, &:hover, &:active {
    color: $white;
    text-decoration: none;
  }
  &:hover, &:active {
    color: $white;
    text-decoration: underline;
  }
}

nav a {
  margin: 0;
  padding: 0;
}

/*51,102,255*/
body {
  @extend body;
  background-color: $blueprint;
  background-image: url(../img/grid-offset.png);
  background-repeat: repeat;
  background-origin: content-box;
  background-size: auto;
  color: $white;
  font-family: $avenir;
  -webkit-font-smoothing: antialiased;
}

[role="heading"],
[role="toolbar"],
[role="navigation"] {
  text-align: center;
}

[role="banner"],
[role="main"] {
  margin: 0 auto;
  @include breakpoint($break-fast, "max-width") {
    width: $break-fast - 20px;
  }

  @include breakpoint($break-brunch, "min-width") {
    width: $break-brunch - 20px;
  }

  @include breakpoint($break-brunch + 1px, "min-width") {
    width: $break-dinner - 20px;
  }
}

[role="marquee"] > [role="columnheader"] {
  margin: 0 auto;
  padding: 0 20px;
  @include breakpoint($break-brunch + 1px, "min-width") {
    max-width: $break-dinner;
  }
}

[role="banner"],
[role="search"],
[role="document"],
[role="complementary"] {
  margin-bottom: 1.5rem;
  position: relative;
}

/* 
[role="heading"],
[role="navigation"] {
  @include breakpoint($break-brunch + 1px, "min-width") {
    border: {
      width: 0 1px 1px;
      style: solid;
      color: $white;
    };
  }
} 
*/

[role="main"] {
  margin: 1.5em auto;
}

$flippedSet: -4px;
$asideOffset: -12.7%;

.flipped {
  @include perspective(1000);
  text-shadow: rgb(0, 0, 0) 1px 1px 0;
  b {
    display: inline-block;
    font-size: inherit;
    font-family: $book-antiqua;
    font-weight: 100;
    color: $white;
    text-decoration: none;
    &:first-of-type {
      @include breakpoint($break-fast) {
        margin-right: $flippedSet;
      }

      @include transition(all 1000ms);
      @include transform(rotateY(180deg));
    }
    & + b {
      margin-left: $flippedSet;
    }
  }
  &:hover b:first-of-type {
    @include transform(rotateY(0deg));
    @include transform-style(preserve-3d);
  }
}

[role="search"] {
  form {
    border: {
      width: 1px;
      style: solid;
      color: $white;
    };
    max-width: 300px;
    button {
      background: none;
      border: none;
      float: left;
      color: white;
      line-height: 1.5em;
      font-weight: 400;
      &:focus {
        outline: none;
      }
    }
    input {
      margin: 0 0.5%;
      padding: 0 0.5%;
      width: 88%;
      border: none;
      background: transparent;
      color: $white;
      &:focus {
        outline: none;
      }
    }
  }
}

[role="heading"] {
  h1 {
    margin: .57em 0;
    text-align: center;
    line-height: 25px;
    font-weight: 100;
    font-family: $book_antiqua;
    text-shadow: rgb(0, 0, 0) 1px 1px;
    @include breakpoint($break-elevenses) {
      font-size: 1.2em;
      & .flipped {
        b {
          margin-right: -12px;
        }
        &:hover b {
          margin-right: 0;
        }
      }
    }

    @include breakpoint($break-elevenses + 1px, "min-width") {
      font-size: 4.0em;
      & .flipped {
        b {
          margin-right: -38px;
        }
        &:hover b {
          margin-right: 0;
        }
      }
    }

    a {
      strong, b {
        font-weight: inherit;
      }
      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
        b, span {
          letter-spacing: 0;
          text-decoration: none;
        }
        span {
          opacity: 1;
          text-decoration: none;
        }
      }
      span {
        font-variant: small-caps;
        /*opacity: 0;*/
      }
    }
  }
}

[role="navigation"] {
  @include breakpoint($break-fast) {
    position: absolute;
    top: 0;
    left: $asideOffset;
    height: 100%;
    width: 13.125%;
    border-right: 1px solid $white;
    background-color: $blueprintAlpha9;
    z-index: 100;
    padding: 0;
    @include transition(1s ease-in-out);
    &.slideOut {
      @include transform(translate(100%, 0));
    }
  }

  nav {
    @include breakpoint($break-fast) {
      margin-top: 2.2em;
    }

    @include breakpoint($break-elevenses + 1px, "min-width") {
      height: 50px;
      padding-top: 4px;
    }

    a {
      display: block;
      font-family: $book-antiqua;
      &:before {
        background-repeat: no-repeat;
        background-origin: border-box;
        background-position: 10px center;
        background-clip: border-box;
        background-size: 22px 32px;
        .smaller & {
          background-size: 22px 21px;
        }
      }
      &:hover {
        .navigation__link--slider {
          @include breakpoint($break-fast) {
            width: auto;
            border-top-width: 1px;
            border-bottom-width: 1px;
            margin-left: 100%;
            padding-right: $grid-gutter;
            padding-left: $grid-gutter;
            border: {
              width: 1px 1px 1px 0;
              color: $white;
              style: solid;
            };
            //@include transform( translate(100%, 0) );
            background-color: $blueprintAlpha9;
          }
        }
        &.portfolio:before {
          @include show-bg-img("../img/compass-16.svg");
        }
        &.chronicles:before {
          @include show-bg-img("../img/chronicles-16.svg");
        }
        &.experiments:before {
          @include show-bg-img("../img/experiments-16.svg");
        }
        &.interactions:before {
          @include show-bg-img("../img/interaction-16.svg");
        }
      }
      @include breakpoint($break-elevenses, "max-width") {
        line-height: 50px;
        height: 49px;
        margin-bottom: 1px;
        .navigation__link--slider {
          display: inline-block;
          text-shadow: 1px 1px #000;
          opacity: 0;
          @include transition(all 0.75s ease);
        }
      }

      @include breakpoint($break-elevenses + 1px, "min-width") {
        display: inline-block;
        width: 25%;
        &:hover {
          background-position: 30% center;
          &.wider {
            background-position: 25% center;
          }
        }
      }
    }
  }
}

[role="menubar"] {
  @include breakpoint($break-fast) {
    position: absolute;
    top: 0;
    right: $asideOffset;
    height: 100%;
    width: 13.125%;
    border-left: 1px solid rgb(255, 255, 255);
    background-color: rgba(51, 89, 165, 0.9);
    z-index: 100;
    padding: 0;
    @include transition(1s ease-in-out);
    &.slideOut {
      @include transform(translate(-100%, 0));
    }
  }

  @include breakpoint($break-elevenses + 1px, "min-width") {
    position: absolute;
    top: 0;
    right: 0;
  }

  ol {
    padding: 0;
    margin: 0;
    @include breakpoint($break-fast) {
      margin: 50px auto 0;
    }

    @include breakpoint($break-elevenses + 1px, "min-width") {
      li {
        display: inline-block;
      }
    }
  }
}

[role="listbox"] {
  width: 100%;
  margin: 10px auto;
  padding: 0;
  li {
    display: inline;
  }
}

[role="listbox"] a,
[role="menuitem"] a {
  display: inline-block;
  margin: 0 $grid-gutter;
  &:hover {
    text-decoration: none;
  }
}

time {
  font-size: 0.675em;
  font-style: oblique;
}

.angular-tabbed {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  .tabbed {
    position: absolute;
    margin: 0;
    padding: 0;
    display: block;
    width: 33%;
    text-transform: capitalize;
    z-index: 1;
    .angled {
      position: relative;
      top: 0;
      left: -1px;
      margin: 0;
      z-index: 2;
      font-variant: small-caps;
    }
  }
  .tabbed:after {
    position: absolute;
    top: 0;
    display: block;
    content: " ";
    z-index: 1;
    background: $blackalpha7;
    @include transform(skewX(135deg));
  }
}

$slider-nav-hard: rgba(255, 255, 255, 0.2) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0);

[role="marquee"] {
  @include breakpoint($break-supper) {
    display: none;
  }

  @include breakpoint($break-supper, min-width) {
    position: relative;
    padding-top: 0.1%;
    .slider-nav {
      position: absolute;
      top: 52px;
      background-color: $blueprint;
      width: 200px;
      line-height: 447px;
      text-align: center;
      font-size: 11.5em;
      //border-top: 1px solid $white;
      &:hover {
        text-decoration: none;
        outline: none;
      }
      @include vendor-prefix(background-size, 8px 8px);
    }
    #left {
      left: 0;
      @include angled($slider-nav-hard, "-45deg");
    }
    #right {
      right: 0;
      @include angled($slider-nav-hard, "45deg");
    }
    &:hover {
      text-decoration: none;
      outline: none;
    }
    header {
      width: 1174px;
      border-width: 1px 1px 0;
      border-style: solid;
      border-color: $white;
      padding: 10px 0;
      aside {
        right: $grid-gutter;
      }
    }
  }
}

[role="slider"] {
  border: {
    width: 1px;
    style: solid;
    color: $white;
  };
  height: 450px;
  overflow: hidden;
  div:first-of-type {
    margin: auto;
    border: {
      width: 0 1px;
      style: solid;
      color: $white;
    };
    width: 1174px;
    figure {
      //display: inline-block;
      img {}
      figcaption {
        width: 80%;
        height: 100px;
        bottom: 0;
        right: -50px;
        aside {
          margin: 0;
          padding-left: 70px;
          text-align: left;
        }
      }
      figcaption:after {
        width: 100%;
        height: 100%;
      }
    }
  }
}

[role="alert"] {
  margin-bottom: 1.5rem;
  figure {
    width: 300px;
    height: 200px;
    border: 1px solid $white;
    @include breakpoint($break-brunch, min-width) {
      min-height: 200px;
      float: left;
      margin-right: 1.5em;
      margin-bottom: 1.5em;
      padding-bottom: 1.5em;
    }

    figcaption {
      top: 0;
      left: 0;
      text-align: center;
      line-height: 30px;
      border-bottom: 1px solid $white;
      aside {
        margin: 0;
        border-left: 1px solid $white;
      }
      p {
        margin: 0;
      }
    }
    figcaption:after {
      width: 130px;
      height: 30px;
      right: -15px;
      border-right: 1px solid $white;
    }
  }
}

[role="columnheader"] {
  width: 100%;
  line-height: 48px;
  position: relative;
  .headlines & {
    @extend %whiteborder;
    aside {
      menu {
        li {
          a {
            border-left: 1px solid $white;
            padding: 15px 20px;
          }
        }
      }
    }
  }
  h2 {
    margin: 0;
    padding: 0;
    a {
      display: block;
      padding: 0 $grid-gutter;
      width: 50px;
    }
    #news {
      h2 {
        &:after {
          position: absolute;
          top: 0;
          padding-right: 50px;
          display: block;
          content: " ";
          z-index: 1;
          width: 50px;
          height: 100%;
          border-right: 1px solid $white;
          @include transform(skewX(135deg));
        }
      }
    }
  }
  aside {
    position: absolute;
    right: $grid-gutter;
    top: 0;
    padding: 0;
    menu {
      margin: 0;
      padding: 0;
      .pointer {
        cursor: pointer;
      }
    }
  }
}

[role="document"] {
  @include breakpoint($break-elevenses + 1px, "min-width") {
    @include column(8);
  }
}

[role="complementary"] {
  @include breakpoint($break-elevenses + 1px, "min-width") {
    @include column(4);
  }
}

//scss
footer {
  margin-bottom: 1.5em;
  min-height: 250px;
  width: 100%;
  clear: both;
  .footer__content {
    @include breakpoint($break-fast, "min-width") {
      width: $break-fast;
    }

    @include breakpoint($break-brunch, "min-width") {
      width: $break-brunch;
    }

    @include breakpoint($break-elevenses, "min-width") {
      width: $break-elevenses;
    }

    @include breakpoint($break-lunch, "min-width") {
      width: $break-lunch;
    }

    @include breakpoint($break-tea, "min-width") {
      width: $break-tea;
    }

    @include breakpoint($break-supper, "min-width") {
      width: $break-supper;
    }

    @include breakpoint($break-dinner + 1px, "min-width") {
      width: $break-dinner;
      margin-left: 50%;
      @include transform(translateX(-50%));
    }

    position: relative;
    margin: 0 0 1.5em;
    padding: 0;
    min-height: 250px;
    list-style-type: none;
    .footer__content--tab {
      float: left;
      @include breakpoint($break-fast, "max-width") {
        @for $i from 1 through $tabcount {
          $countr: $tabcount - 1;
          [for="#{$tab-slug}-#{$countr}"] {
            z-index: $i;
          }
        }
        &:nth-child(n+2) {
          margin-left: -15%;
        }
      }

      @include breakpoint($break-brunch, "min-width") {
        @for $i from 1 through $tabcount {
          $countr: $tabcount - 1;
          [for="#{$tab-slug}-#{$countr}"] {
            z-index: $i;
          }
        }
        &:nth-child(n+2) {
          margin-left: -10%;
        }
      }

      //background-color: $blueprint;
      //@include vendor-prefix(background-size, 5px 5px);
      //@include angled($slider-nav-hard, "90deg");
      [type=radio] {
        display: none;
      }
      label {
        @extend %whiteborder;
        display: inline-block;
        position: relative;
        margin-bottom: 1px;
        bottom: 1px;
        background-color: $blueprint;
        @include breakpoint($break-elevenses, "max-width") {
          margin-right: -1px;
          padding: 8px;
        }

        @include breakpoint($break-elevenses + 1px, "min-width") {
          border-bottom-color: $blueprint;
          z-index: 2;
          padding: 5px 10px;
        }
      }
      .footer__content--section {
        @extend %whiteborder;
        width: auto;
        padding: 10px;
        background: $blueprint;
        @include breakpoint($break-elevenses, "max-width") {
          position: absolute;
          top: 42px;
          left: 0;
          right: 0;
          bottom: 0;
        }

        @include breakpoint($break-elevenses + 1px, "min-width") {
          position: relative;
          margin: -3px -1px 0 0;
          min-height: 215px;
        }
      }
      @include breakpoint($break-elevenses, "max-width") {
        [type=radio]:checked {
          ~ label {
            border-bottom-color: transparent;
            z-index: $tabcount + 1;
          }
          ~ .footer__content--section {
            z-index: 1;
          }
        }
      }

      @include breakpoint($break-elevenses + 1px, "min-width") {
        @include column(4, $padding: 0);
      }
    }
  }
}